<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/style.css"> 
    
    <title><%= pageinfo.title %></title>
</head>
<body>
    <header id="top" class="container__toplevel header">
        <div class="section__feat invert">
            <div class="Header__titles">
                <span class="subtitle invert">Lorem Ipsum</span>
                <h1><%= pageinfo.mainPhrase[0] %></h1>
            </div>
            <div class="block__accent">
                <a href="#latest" class="btn btn__secondary">See the latest</a>
            </div>
        </div>
        <div class="section__cta">
            <h1><%= pageinfo.mainPhrase[1] %></h1>
            <h2 class="subtitle">Manage your list</h2>
            <ul class="nav__main">
                <li class="nav__main_item">
                    <a href="/todos">Dashboard</a>
                </li>
                <li class="nav__main_item">
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </header>
    <main id="latest" class="Intro container__toplevel">
        <header class="">
            <h2>The latest from members</h2>
            <% if (totalDone !== 0) { %>
                <% if (totalDone === 1) { %>
                    <p><%= totalDone %> task has been completed.</p>
                <% } else { %>
                <p><%= totalDone %> tasks have been completed to date.</p>
                <% } %>
            <% } %>
        </header>
        <div class="block__2_modules Main">
            <div class="container__img">
                <img src="https://picsum.photos/500/500?random=1" alt="random img">
                <figcaption class="label__img">
                    <h3 class="subtitle"><%= firstDone['todo'] %></h3>
                    <span>completed on <%= new Date(firstDone['updatedAt']).toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %></span>
                </figcaption>
            </div>
            <div class="container__img">
                <img src="https://picsum.photos/500/500?random=2" alt="random img">
                <figcaption class="label__img">
                    <h3 class="subtitle"><%= secondDone['todo'] %></h3>
                    <span>completed on <%= new Date(secondDone['updatedAt']).toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %></span>
                </figcaption>
            </div>
        </div>
        <section class="container__toplevel">
            <div class="block__2_modules">
                <div class="block">
                    <h3>Shared todos</h3>
                    <% if (sharedTodos.length){ %>
                        <ul>
                        <% sharedTodos.forEach( el => { %>
                                <li class='todoItem' data-id='<%=el._id%>'>
                                    <span><%= el.todo%> added on <%=el.createdAt %></span>
                                </li>
                        <% }) %>    
                        </ul>
                    <% }else{ %>
                    <p>Nothing to see here!</p>
                    <% } %>
                </div>
                <div class="block">
                    <h2>Celebrate every win &mdash; from paying off your bills to simply enjoying your food.</h2>
                    <p>Featured task section below? Create more info such as - representative image? notes on duration it took? (calculate days elapsed from dateCreated to dateUpdated, upon moment of completion (updatedAt). Maybe remove "mark Incomplete" function altogether and change it to likes or "recreate task" to prepopulate a POST...)</p>
                    <p>Removed the "not" and "completed" classes here so client-side JS does not include/allow any public edits. Also anonymized but if we want the username, will need to:</p>
                    <h3>List items from members</h3>
                    <ol>
                        <li>import user schema to main controller</li>
                        <li>get user name from user id of todoItem</li>
                        <li>pass within the object param for res.render</li>
                    </ol>
                </div>
            </div> 
        </section>
    </main>
    <div class="block">
        <a href="#top" class="btn btn__tertiary">Back to top</a>
    </div>
</body>
</html>