<%- include('partials/header-members') -%>
    
    <main id="" class="Intro container__toplevel">
        <%- include('partials/list-members') -%>
        <header class="">
            <div class="container__toplevel Personal">
                <div class="container__img Personal">
                    <img src="https://picsum.photos/900/500?random=1" alt="">
                </div>
            </div>
            
            <h2>Is "/" from Members page going Home?</h2>
            <section class="block__2_modules">
                <div class="block">
                    <p>If you see your own todos, should you be able to check them off from member's page?</p>
                </div>
                <div class="">
                    <h3>Anonymize or no?</h3>
                    <span class="subtitle">Lorem ipsum</span>
                    <p>Should the controller find the user by todo's associated user id and credit the user in members' area?</p>
                </div>
            </section>
        </header>
        <section class="container__toplevel">
            <h3>Members' tasks</h3>
            <ul>
                <% memberViewableTodos.forEach( el => { %>
                        <li class='todoItem' data-id='<%=el._id%>'>
                            <span><%= el.todo %></span>
                        </li>
                <% }) %>    
                </ul>
        </section>    
        <div class="container__toplevel">
            <div class="container__img">
                <img src="https://picsum.photos/800/750?random=1" alt="random img">
            </div>
        </div>
    </main>
    <%- include('partials/footer-members') -%>