<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/style.css"> 
    
    <title>Dashboard &vert; <%= pageinfo.title %></title>
</head>
<body>
    <h1>Todos</h1>
    <section class="Intro container__toplevel">
    <% if (lastActiveDate) { %>
        <h2>Welcome back, <%= user.userName %>!</h2>
    <% } else { %>   
        <h2>Welcome, <%= user.userName %>!</h2>
    <% } %>
    <p>Today is <%= new Date();%>.</p>
    <% if (lastActiveDate) { %>
    <p>You last logged in on <%= lastActiveDate %>.</p>
    <% } %>
    </section>
   

    <section class="container__toplevel">
        <h3>Your profile</h3>
        <span>Placeholder- edit option, upload img option</span>
        <div class="block">
            <img src="">
            <span>Full name</span>
            <span>Contact info - email?</span>
        </div>
        <a href="" class="btn btn__secondary">Edit your account information</a>
    </section>


    <section data-info="greetings-summary">
        <p>Today is <%= new Date();%>.</p>
        <% if (lastActiveDate) { %>
            <p>You last logged in on <%= lastActiveDate %>.</p>
            <% } %>
    </section>

    <nav>
        <a href="/members">Go to members area</a>
        <a href="/logout">Log out</a>
    </nav>

    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <label for="member-share">
            Share with members
            <input type="checkbox" name="memberShare" id="member-share">
        </label>
        <label for="public-share">
            Also share with public? This will be shared with members as well.<input type="checkbox" name="publicShare" id="public-share">
        </label>
        <button>Submit</button>
    </form>

    <script src="js/main.js"></script>
</body>
</html>